{% load static %}
<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'page1/style.css' %} " />
</head>
<html>
  <body dir="rtl">
	  <h1 style="text-align: center">سامانه انجام کار</h1>
    <table>
      <thead>
        <tr>
          <th>عنوان کار</th>
			<th>ارزش کار</th>
			<th>تخمین زمانی</th>
			<th>صاحب کار</th>
			
          <th>ثبت درخواست</th>
        </tr>
      </thead>
      <tbody>
      	{% for job in page_obj %}
        <tr>
          <td>{{job.title}}</td>
          <td>{{job.value}}</td>
          <td>{{job.time}}</td>
          <td>{{job.owner}}</td>
        <!--  <td>{{job.explanations}}</td> -->
        <td> <button onclick="location.href='{% url 'page1:moreinf' job.id %}'"> more inf </button> </td>
        </tr>
        {% endfor %}	
      </tbody>
      
    <div class="pagination">
	    <span class="step-links">
		{% if page_obj.has_previous %}
		    <a href="?page=1">&laquo; first</a>
		    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
		    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
		    <a href="?page={{ page_obj.next_page_number }}">next</a>
		    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	    </span>
 	</div>
	  	<div class="foot">
		  	<a href="https://www.google.com" target="_blank">قوانین و مقررات</a>
		  </div>
		  <div class="foot">
		  	<a href="https://www.google.com" target="_blank">درباره ما</a>
		 </div>
    </table>
  </body>
</html>
