{% load static %}
<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'page1/style.css' %} " />
</head>
<html>
  <body dir="rtl">
	  <h1 style="text-align: center">سامانه انجام کار</h1>
    <table>
      <thead>
        <tr>
          <th>عنوان کار</th>
			<th>ارزش کار</th>
			<th>تخمین زمانی</th>
			<th>صاحب کار</th>
			
          <th>ثبت درخواست</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ترجمه مقاله</td>
          <td>300 هزار تومن</td>
			<td>یک هفته</td>
			<td>اصغر اقا</td>
			<td><button>ثبت درخواست</button></td>
        </tr>
        <tr>
        	<td>کشیدن اب حوض</td>
			<td>20 هزار تومن</td>
			<td>یک روز</td>
			<td>ثریا خانم</td>
			<td><button>ثبت درخواست</button></td>
        </tr>
        <tr>
          <td>....</td>
          <td>....</td>
			<td>.....</td>
          <td>.....</td>
			<td><button>ثبت درخواست</button></td>
        </tr>
        <tr>
          <td>............</td>
          <td>......</td>
			<td>.....</td>
          <td>.....</td>
			<td><button>ثبت درخواست</button></td>
        </tr>
      </tbody>
    </table>
	  	<div class="foot">
		  	<a href="https://www.google.com" target="_blank">قوانین و مقررات</a>
		  </div>
		  <div class="foot">
		  	<a href="https://www.google.com" target="_blank">درباره ما</a>
		 </div>
  </body>
</html>
